Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([^/]+)/([^/]+) $1/api.php [QSA,L]

# for empty requests
RewriteRule ^([^/]+)/ $1/api.php [QSA,L]
