<rewrite>
    <rules>
        <rule name="Optional Rule" enabled="false" stopProcessing="true">
            <match url="^([^/]+)/([^/]+)" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="{R:1}/api.php" appendQueryString="true" />
        </rule>
        <rule name="API Rewrite" enabled="true" stopProcessing="true">
            <match url="^([^/]+)/" ignoreCase="false" />
            <action type="Rewrite" url="{R:1}/api.php" appendQueryString="true" />
        </rule>
    </rules>
</rewrite>